
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
.cardcontainer{
    position: absolute;
    background: linear-gradient(
        150deg, 
        #6244FA,
        #6328C0 50%,
        #6328C0 50%,
        #5E90E6 ,
        #CF56BD ,
        /* #EA7167 5%, */
        #5E90E6,
        #EA7167
      );
    box-shadow:1px 1px 20px 2px rgba(28, 28, 28, 0.475);
    left: 18vw;
    top: 15vh;
    height: 250px;
    width: 450px;
    border-radius: 10px;
}
 .left{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    top: 25px;
    left: 25px;
}
 .right{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
    top: 40px;
    left: 100px;
}
.contents{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}
 h1{
    font-weight: 100;
    color:rgb(193, 193, 193);
    letter-spacing: 3px;
    position: absolute;
    bottom: 25%;
    left: 9%;
}
 .namearea{
    color:rgb(193, 193, 193);
    position: absolute;
    bottom: 10%;
    left: 9%;
}
 .datearea{
    display: flex;
    color:rgb(193, 193, 193);
    position: absolute;
    bottom: 10%;
    right: 9%;
}

.backcontainer{
    position: absolute;
    background-color: #AEB5BD;
    box-shadow:1px 1px 20px 2px rgba(28, 28, 28, 0.475);
    left: 22vw;
    top: 55vh;
    height: 250px;
    width: 450px;
    border-radius: 10px;
}
.backcontainer .blackbar{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: black;
    top: 30px;
}
.backcontainer .cvcbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    width: 80%;
    height: 40px;
    background-color: rgb(139, 150, 157);
    color: white;
    top: 110px;
    left: 45px;
    border-radius: 5px;
}
.dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 190px;
    height: 40px;
    top: 170px;
    left: 140px;
}
.line1{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: space-around;
}
.dots .line1 .one{
    width: 105px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line1 .two{
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line1 .three{
    width: 25px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line1 .four{
    width: 10px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.line2{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.dots .line2 .one{
    width: 20px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line2 .two{
    width: 60px;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line2 .three{
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
    justify-content: space-evenly;
}
.dots .line2 .four{
    width: 10px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.line3{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: space-around;
}
.dots .line3 .one{
    width: 10px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line3 .two{
    width: 25px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line3 .three{
    width: 25px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}
.dots .line3 .four{
    width: 105px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
}